*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
.box1{width: 100%;height: 120px;background-color: rgb(126, 124, 124);position: absolute;}
.box2{width: 100px;height: 100px;background-color: rgb(36, 36, 80);margin: 10px ;border: 2px solid black;border-radius: 120px;font-style: rotate(90deg);transform: rotateZ('angle');background-image: url(image.jpg); background-position: -6px;position: absolute;background-size:123px ;top: 0;}
.box1 .p1{right: 0;;position: absolute;margin: auto;width: 60%;top:20px;font-size: 40px;left:200px;color: rgb(44, 44, 124);}
.box1 .p2{right: 0;position: absolute;margin: auto;left: 500px;bottom:30px;letter-spacing: 10px;font-size: 30px;top: 80px;color: brown;}
section .box3{width: 100%;height: 100px;background-color: rgb(42, 42, 100);top:120px;position: absolute;margin: auto;border-radius: 5px;padding: 3px;}
.box3 .p3{color: rgb(203, 206, 206);font-size: 35px;padding: 10px;}
.box4{margin: 0;position: absolute;top: 230px;display: flex;align-items: center;justify-content: center;background-color: rgb(41, 41, 105);width: 100%;height: 90px;color: rgb(207, 206, 204);font-size: 40px;margin: 5px;border-radius: 10px;}
.box4 input{width: 50%;height: 35px;border-radius: 10px;outline: none;border: none;padding: 20px;}
.box5{height: 50px;width: 80px;background-color: rgb(190, 188, 188);padding: 20px;margin: 20px;border-radius: 10px;background-image: url(search.png); background-position: -10px -2px;background-size: 100px;}
/*mobile veiw*/

@media (max-width:768px){
    {width:50px ;}

}